<h1>Map Application</h1>
<br><br>
<p>Enter start and end addresses below:<br>
(Please wait for some time after clicking submit.)
</p>
<br>
<form action="" method="post">
  <input type="text" placeholder="Start Address" name="start_address" value="{{
    request.form.saddr }}"><br><br>
  <input type="text" placeholder="End Address" name="end_address" value="{{
    request.form.eaddr }}"><br><br><br>
  <input type="checkbox" name="driving_dir" value="driving"> Use driving directions <br><br>
  Enter API key below if you are using driving directions. <br><br>
  <input type="text" placeholder="Google Directions API key" name="api_key" value="{{
    request.form.apikey }}"><br><br>  
  <input class="btn btn-default" type="submit" value="Go!">
</form>
{% if error %}
<p><strong>Error:</strong> {{ error }}</p>
{% endif %}